@using NRedisApi.Samples.Mvc.Controllers
@model HomeController.SomethingToStore
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>NRedisApi</h1>
    <p class="lead">NRedisApi is a free object-mapping framework for building great applications using Redis. It is built on top of StackExchange.Redis</p>
    <p><a href="https://github.com/NRedisApi/NRedisApi" class="btn btn-primary btn-large">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Value returned from Redis</h2>
        <p>
            Name: @Model.Name
        </p>
        <p><a class="btn btn-default" href="https://github.com/NRedisApi/NRedisApi">Learn more &raquo;</a></p>
        @using (Html.BeginForm("index", "home", FormMethod.Post))
        {
            <input type="text" name="q" id="q" />
            <input type="submit" />
        }
        <p></p>
    </div>
</div>